#card-container{
    width: 300px;
    height: 50px;
    box-shadow: 3px 3px 3px;
    margin-top: 20px;
    background-color: red;
    display: flex;
    flex-direction: column;
}

#trip-identification{
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    flex-grow: 1;
    font-size: small;
}

#trip-info{
    background-color: rgb(41, 41, 41);
    color: white;
    flex-grow: 4;
    display: flex;
    flex-direction: row;
}

#identification{
    background-color: rgb(41, 41, 41);
    color: white;
    flex-grow: 1;
    text-align: left;
    padding-top: 5px;
}

#the-patient{
    background-color: rgb(41, 41, 41);
    color: white;
    flex-grow: 1;
    text-align: left;
    padding-top: 5px;
}

#to-trip1{
    background-color: #17ac6e;
    flex-grow: 1;
    height: 35px;
    width: 150px;
    border-style: none;
}

#to-trip3{
    background-color: #b10707;
    height: 35px;
    width: 150px;
    border-style: none;
    flex-grow: 1;
}

#to-trip1:hover{
    background-color: rgb(83, 132, 255);
    transition: ease-in-out 0.7s;

}

#to-trip2:hover{
    background-color: rgb(83, 132, 255);
    transition: ease-in-out 0.7s;

}

#to-trip3:hover{
    background-color: rgb(83, 132, 255);
    transition: ease-in-out 0.7s;

}


