#footer-container{
    Background: rgb(66, 106, 216);
    height: 10vw;
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
}

#support{
    background-color: transparent;
    flex-grow:1;
}

#FAQ{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-grow:1;
}

#location{
    background-color: transparent;
    flex-grow:1;
    text-align: center;
}

#contact{
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    background: transparent;
}

#loc-details{
    background-color: transparent;
    font-size: 10px;
}

#faq{
    background-color: transparent;
    margin-top: 37px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    flex-grow: 1;
}

.cont-item{
    background-color: transparent;
    font-size: 10px;
    padding: 5px;
}

.gq{
    font-size: 20px;
    flex-grow: 1;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
}

#comp-email{
    font-size: 20px;
    font-weight: 300;
}

#facilities{
    padding-left: 10px;
}
