#all-the-trips{
    display: flex;
    flex-direction: column;
}

#the-container{
    display: flex;
    flex-direction: row;

}

#all-trips{
    overflow: auto;
    flex-grow: 1;
    height: 100%;
}

#the-chart{
    flex-grow: 1;
    margin-left: 700px;
}