#home-content{
    display: flex;
    height: 75vh;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    flex-wrap: wrap;
}

#content-headers{
    display: flex;
    flex-direction: row;
}

#overall{
    display: flex;
    flex-direction: column;
}

#col-1{
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    border-right: 1px solid;
    overflow: auto;
}

#col-2{
    flex-grow: 6;
    padding-left: 10%;
    padding-top: 5%;
    background-color: rgb(59, 59, 59);
    text-align: center;
    display: flex;
    flex-direction: column;
}

#col-3{
    background-color: rgb(59, 59, 59);
    flex-grow: 2;
    border-left: 1px solid;
}

#trip-progress{
    background-color: rgb(59, 59, 59);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#trip-details{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#trip-id{
    border-radius: 2px;
    margin-bottom: 10px;
    margin-left: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(252, 35, 162);
    height: 50px;
    width: 99%;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    background-color: rgb(78, 78, 78);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 20px;
    font-size: 22px;
    font-weight: 900;

}

#eta{
    border-radius: 2px;
    margin-left: 1px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(252, 35, 162);
    height: 50px;
    width: 99%;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    background-color: rgb(78, 78, 78);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 22px;
    font-weight: 900;
}

.trip-det-head{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 25;
    margin: 5px;
    margin-left: 10px;
}

.bar-logo{
    width: 200px;
    margin: 0px;
    padding: 0px;
}

.list-title{
    background-color: rgb(41, 41, 41);
    height: 30px;
    text-align: center;
    padding-top: 10px;
    font-weight: 700;
    color: white;
}

.header-1{
    background-color: rgb(41, 41, 41);
    height: 30px;
    text-align: center;
    padding-top: 10px;
    font-weight: 700;
    color: white;
    flex-grow: 0.70;
}

.header-2{
    background-color: rgb(41, 41, 41);
    height: 30px;
    text-align: center;
    padding-top: 10px;
    font-weight: 700;
    color: white;
    flex-grow: 3.5;
}

.header-3{
    background-color: rgb(41, 41, 41);
    height: 30px;
    text-align: center;
    padding-top: 10px;
    font-weight: 700;
    color: white;
    flex-grow: 0.96;
}

.limb{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-style: solid;
    border-width: 0px;
    margin-left: 2px;
    margin-right: 2px;
    height: 175px;
    background-color: #17ac6e;
    color: white;
}

#human-model{
    background-color: rgb(59, 59, 59);
    flex-grow: 1;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.body-im{
    height: 350px;
    flex-grow: 1;
    margin: 2.5px;
    margin-bottom: 5px;
}

#chart-options{
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(2, auto);
    background-color: rgb(59, 59, 59);
    overflow: auto;
}

#view-trip{
    width: 40%;
    height: 200px;
    margin-left: 5%;
    margin-right: 10%;
    margin-bottom: 20px;
    margin-top: 20px;
    border-style: none;
    background-color: #bcbe16;
    font-size: 30px;
    font-weight: 600;
    color: white;
}

#view-trip:hover{
    background-color: #dadd10;
    transition: ease-in-out 0.5s;
}

#done-trip{
    width: 40%;
    height: 200px;
    margin-right: 5%;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #17ac6e;
    border-style: none;
    font-size: 30px;
    font-weight: 600;
    color: white;
}

#done-trip:hover{
    background-color: #0fd884;
    transition: ease-in-out 0.5s;
}

#trip-list{
    overflow: auto;
    height: 440px;
    background-color: rgb(59, 59, 59);
}

.btn-logo{
    width: 100px;
}

.chart-selection{
    border-radius: 2px;
    border-style: solid;
    border-color: rgb(252, 35, 162);
    margin: 10px;
    background-color: rgb(87, 87, 87);
}

.chart-selection:hover{
    box-shadow: 2px 2px 10px black;
    border-color: rgb(252, 35, 162);
    border-radius: 2.5%;
    transition: ease-in-out 0.25s;
}

#footer{
    Background: linear-gradient(90deg, rgb(182, 182, 182) 0%, rgb(255, 255, 255) 40%);
}

